# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 0.6
  - nightly
notifications:
  email: false

before_install:
  - sudo add-apt-repository -y ppa:jonathonf/texlive-2016
  - sudo apt-get -qq update
  - sudo apt-get install -y gnuplot
  - sudo apt-get install -y pdf2svg
  - sudo apt-get install -y texlive
  - sudo apt-get install -y texlive-latex-extra

script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone("https://github.com/KristofferC/NBInclude.jl");
              Pkg.checkout("NBInclude", "kc/ans_hook");
              Pkg.clone("https://github.com/KristofferC/PGFPlotsX");
              Pkg.clone(pwd());
              Pkg.build("PGFPlotsXExamples");
              Pkg.test("PGFPlotsXExamples"; coverage=true)'
